@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

@import "./css/login.css";
@import "./css/index.css";

:root {
    --font: "DotGothic16";

    font-family: var(--font), sans-serif;
    font-weight: 400;
    font-style: normal;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: #213547;
    background-color: #ffffff;
}

