@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Shade&display=swap');

@import "./css/index.css";
@import "./css/board.css";
@import "./css/game.css";
@import "./css/login.css";

:root {
    --font: "Bungee";

    font-family: var(--font), sans-serif;
    font-weight: 400;
    font-style: normal;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: #213547;
    background-color: #ffffff;
}

