.board {
    --black: #333;
    --cell: 3em;

    @media (orientation: portrait) or (max-width: 600px) {
        --cell: calc(10vw);
    }

    display: inline-block;
    border: 0.2em solid var(--black);
    position: relative;
    border-radius: 0.4em;
    margin-bottom: 1em;
    /* margin-left: 1em; */
    user-select: none;

    &::before {
        content: '';
        display: block;
        width: 100%;
        right: 1em;
        height: 1em;
        background: var(--black);
        position: absolute;
        top: 100%;
        border-radius: 0 0 0.4em 0.4em;
    }

    &::after {
        content: '';
        display: block;
        width: 1em;
        height: 100%;
        top: 1em;
        right: 100%;
        background: var(--black);
        position: absolute;
        border-radius: 0.4rem 0 0 0.4rem;
    }

    > div {
        display: flex;
        height: var(--cell);
        width: calc(8 * var(--call));

        > span {
            flex: 1;
            display: block;
            width: var(--cell);
            height: var(--cell);
            position: relative;

            &.odd {
                background: var(--black);
                color: white;
                place-content: center;
            }

            &.even {
                background: white;
            }

            &.target::before {
                z-index: 20;
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                display: inline-block;
                width: calc(var(--cell) / 4);
                height: calc(var(--cell) / 4);
                border: 0;
                background: #999;
                border-radius: 100%;
            }

            > label {
                display: none;
                position: absolute;
                left: 0.2rem;
                top: 0.2rem;
                font-size: 0.4rem;
                color: white;

                &.best {
                    color: #ffcccc;
                }
            }

            > span {
                position: absolute;
                left: 0;
                top: 0;
                width: var(--cell);
                height: var(--cell);
                display: block;

                &.over {
                    background: red !important;
                }

                &::before {
                    z-index: 20;
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    display: inline-block;
                    width: calc(var(--cell) / 2);
                    height: calc(var(--cell) / 2);
                    border-radius: 100%;
                    border-width: 0.2em;
                    border-style: solid;
                }

                &[data-piece='c'], &[data-piece='q'] {
                    &::before {
                        background-color: var(--black);
                        border-color: white;
                    }
                }

                &[data-piece='C'], &[data-piece='Q'] {
                    &::before {
                        background-color: white;
                        border-color: var(--black);
                        width: calc(var(--cell) / 2 + 0.2em);
                        height: calc(var(--cell) / 2 + 0.2em);
                    }
                }

                &[data-piece="q"], &[data-piece="Q"] {
                    &::after {
                        content: "★";
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        display: inline-block;
                        z-index: 30;
                        background: transparent;
                        margin-top: -0.05rem;
                    }
                }

                &[data-piece="q"]:after {
                    color: white;
                }

                &[data-piece="Q"]:after {
                    color: var(--black);
                }
            }
        }
    }

    &.interactive {
        > div > span:hover {
            opacity: 0.8;
        }

        > div > span > span {
            cursor: pointer;
        }
    }

    .lastmove {
        display: none;
        position: absolute;
        /* display: block; */
        background: green;
        transform-origin: 0 0;
        margin: 5px 0 0 5px;
    }
}