form.login {
    max-width: 400px;
    margin: auto;

    input {
        width: 100%;
        display: block;
        margin-bottom: 1em;

        border: 0.2em solid black;
        border-radius: 0;
        padding: 0.4em 0.8em;
        font-family: "Tiny5", sans-serif;
        font-size: 1.5em;
    }

    button {
        background: black;
        color: white;
        padding: 0.4em 2em;
        font-size: 1.5em;
        font-family: "Tiny5", sans-serif;
        border: 0;
        margin: 0 0.2em 1em 0.2em;
    }

    label {
        display: block;
        font-size: 1.5em;
    }
}
